
@media (max-width: 650px){
    .video-grid {
        grid-template-columns: 1fr ;
    }

    .sidebar {
        display: none;
    }

    body{
        padding-left:0;
        padding-right: 0;
        padding-top: 48px;
    }

    .header {
        height: 48px;
        justify-content: right;
    }

    .hamburger-menu {
        display: none;
    }

    .upload-icon-container,
    .apps-icon-container {
        display: none;
    }

    .left-section {
        margin: 0 10px;
        flex: 1;
        justify-content: left;
    }

    .youtube-logo {
        height: 18px;
    }

    .middle-section {
        margin: 0 10px 0 0;
        justify-content: right;
        max-width: 70px;
    }

    .search-bar {
        display: none;
    }

    .search-button {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: white;
        border: none;
        margin: 0 auto;
    }

    .search-icon {
        height: 20px;
    }

    .voice-search-button {
        width: 32px;
        height: 32px;
        background-color: white;
    }

    .voice-search-button:hover{
        background-color: rgb(245, 245, 245);
    }

    .search-button:hover{
        background-color: rgb(245, 245, 245);
    }

    .right-section{
        flex: 1;
        margin: 0;
        max-width: 100px;
    }

    .current-user-picture {
        margin: 0 auto;
        height: 28px;
    }

    .thumbnail {
        border-radius: 0px ;
    }

    .video-info {
        margin-right: 5px;
    }
}


@media (max-width: 750px) and (min-width: 651px){
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:751px) and (max-width:999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
