
@media (min-width: 360px) and (max-width: 650px){
    .video-grid {
        grid-template-columns: 1fr ;
    }

    .sidebar {
        display: none;
    }

    body{
        padding-left:0;
        padding-right: 0;
    }

    .upload-icon-container,
    .apps-icon-container {
        display: none;
    }

    .right-section{
        width: 80px;
    }

    .middle-section {
        margin-right: 15px;
        margin-left: 30px;
    }

    .hamburger-menu {

        margin-right: 10px;
        margin-left: 14px;
        height: 16px;
    }

    .youtube-logo {
        height: 16px;
    }
}


@media (max-width: 750px) and (min-width: 651px){
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:751px) and (max-width:999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
